@charset "UTF-8";

@font-face {
  font-family: 'qq-hd';
  src: url('qq-hd.eot');
  src: url('qq-hd.eot?#iefix') format('embedded-opentype'),
       url('qq-hd.woff') format('woff'),
       url('qq-hd.ttf') format('truetype'),
       url('qq-hd.svg#qq-hd') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: qq-hd;
  font-style: normal;
  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.\icon\-qzone2:before { content: "\f802"; } /* '\f802' */
.\icon\-qzone3:before { content: "\f803"; } /* '\f803' */
.\icon\-qzone-lock:before { content: "\f804"; } /* '\f804' */
.\icon\-qzone-disabled:before { content: "\f805"; } /* '\f805' */
.\icon\-weibo2:before { content: "\f808"; } /* '\f808' */
.\icon\-at:before { content: "\f809"; } /* '\f809' */
.\icon\-add:before { content: "\f80a"; } /* '\f80a' */
.\icon\-search:before { content: "\f80b"; } /* '\f80b' */
.\icon\-setting:before { content: "\f80c"; } /* '\f80c' */
.\icon\-clothes:before { content: "\f80d"; } /* '\f80d' */
.\icon\-close:before { content: "\f80e"; } /* '\f80e' */
.\icon\-delete:before { content: "\f80f"; } /* '\f80f' */
.\icon\-person:before { content: "\f810"; } /* '\f810' */
.\icon\-persons:before { content: "\f811"; } /* '\f811' */
.\icon\-persons-disabled:before { content: "\f812"; } /* '\f812' */
.\icon\-male:before { content: "\f813"; } /* '\f813' */
.\icon\-female:before { content: "\f814"; } /* '\f814' */
.\icon\-write:before { content: "\f815"; } /* '\f815' */
.\icon\-write2:before { content: "\f816"; } /* '\f816' */
.\icon\-reply:before { content: "\f817"; } /* '\f817' */
.\icon\-reply2:before { content: "\f818"; } /* '\f818' */
.\icon\-comment:before { content: "\f819"; } /* '\f819' */
.\icon\-chat:before { content: "\f81a"; } /* '\f81a' */
.\icon\-retweet:before { content: "\f81b"; } /* '\f81b' */
.\icon\-microphone:before { content: "\f81c"; } /* '\f81c' */
.\icon\-microphone-disabled:before { content: "\f81d"; } /* '\f81d' */
.\icon\-sound:before { content: "\f826"; } /* '\f826' */
.\icon\-camera:before { content: "\f81e"; } /* '\f81e' */
.\icon\-camera2:before { content: "\f81f"; } /* '\f81f' */
.\icon\-camera3:before { content: "\f820"; } /* '\f820' */
.\icon\-camera-disabled:before { content: "\f821"; } /* '\f821' */
.\icon\-emotion:before { content: "\f822"; } /* '\f822' */
.\icon\-emotion-add:before { content: "\f823"; } /* '\f823' */
.\icon\-emotion-favorate:before { content: "\f824"; } /* '\f824' */
.\icon\-heart:before { content: "\f825"; } /* '\f825' */
.\icon\-share:before { content: "\f827"; } /* '\f827' */
.\icon\-save:before { content: "\f828"; } /* '\f828' */
.\icon\-home:before { content: "\f829"; } /* '\f829' */
.\icon\-profile:before { content: "\f82a"; } /* '\f82a' */
.\icon\-timing:before { content: "\f82b"; } /* '\f82b' */
.\icon\-time:before { content: "\f82c"; } /* '\f82c' */
.\icon\-time2:before { content: "\f82d"; } /* '\f82d' */
.\icon\-countdown:before { content: "\f82e"; } /* '\f82e' */
.\icon\-plane:before { content: "\f82f"; } /* '\f82f' */
.\icon\-fullscreen:before { content: "\f830"; } /* '\f830' */
.\icon\-restore:before { content: "\f831"; } /* '\f831' */
.\icon\-image:before { content: "\f832"; } /* '\f832' */
.\icon\-graffiti:before { content: "\f833"; } /* '\f833' */
.\icon\-geolocation:before { content: "\f834"; } /* '\f834' */
.\icon\-keyboard:before { content: "\f835"; } /* '\f835' */
.\icon\-open-folder:before { content: "\f836"; } /* '\f836' */
